# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Chaosbane.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../:\Users\guigo\Chaosbane\.idea\.idea.Chaosbane\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
